files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIID6TCCAtGgAwIBAgIUalJMJh1DLgdnWKy2Ha6BW7/Q8qYwDQYJKoZIhvcNAQEL
      BQAwgYMxCzAJBgNVBAYTAkNBMQ8wDQYDVQQIDAZRdWViZWMxETAPBgNVBAcMCE1v
      bnRyZWFsMQwwCgYDVQQKDANBUEwxEDAOBgNVBAsMB0F1Y3Rpb24xDDAKBgNVBAMM
      A0FQTDEiMCAGCSqGSIb3DQEJARYTdGVqYXMwOTA0QGdtYWlsLmNvbTAeFw0xOTA0
      MTkyMzM3MjBaFw0yMDA0MTgyMzM3MjBaMIGDMQswCQYDVQQGEwJDQTEPMA0GA1UE
      CAwGUXVlYmVjMREwDwYDVQQHDAhNb250cmVhbDEMMAoGA1UECgwDQVBMMRAwDgYD
      VQQLDAdBdWN0aW9uMQwwCgYDVQQDDANBUEwxIjAgBgkqhkiG9w0BCQEWE3RlamFz
      MDkwNEBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC4
      cPlhhM/U4rLyLJJpYyzhgpK500LFfIjcrkIZklUmT/+6m90WGZUNnjL25W1jcTRn
      2xMlSnhy0uxLohYktzYZNtdWXzHDieVAol/KK/BMhAKf9DbLMbqz9uk9Zi2vIfz+
      YwxRLzD51P2gcmUVDRTEQHzU0WL3W/RLkIqEpAACnrieSufJvwyVS0KBWMPdVxDJ
      x2b2WFmgOkbp9aEX05op4/P3j8uImytcXXQH6x/zvXfR5PAsKvEi5w7YSgzf2uiU
      BKtdSTO3+5VbwG8McPC72WPIQCshfXXLKD4CkShK5JfIFZ2S8MN1Fd3JAdARVMAx
      ufgxaq32amolDAHma7MnAgMBAAGjUzBRMB0GA1UdDgQWBBS+tDzMtgNiorSDENT1
      RSSNODlkzjAfBgNVHSMEGDAWgBS+tDzMtgNiorSDENT1RSSNODlkzjAPBgNVHRMB
      Af8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQB4ks2ZM2KPYgD+WXvMdDodxeXv
      cs2cQrZby0eUB6jk1tE8QF15FDhzOn0N5V5vM06OnoK5vrtFfP+Z6aLePiYrx/JJ
      09SKRyLyi1/fe9yzLas5IGZa0zUU3hH8s4R6xUls4ukMfT1vPnTQLHNraGCLpU6F
      13J24FhpgDc2K7EwfoY0/3cz5QBjRrCPPU1joM8yQnk1cpW1RId3cHo4us/lB7xH
      t598WG97FtiJpcRN9RpBsj4lUkjELUoN+qQcKyQggk3+tooD5Lz7B4CsWsCNJxKa
      AEo+qdDMvqu1z9oPYMiZfEFJozVJ+nEWry4vdHjGqeki/DfaD1i4Nyw7GpDZ
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC4cPlhhM/U4rLy
      LJJpYyzhgpK500LFfIjcrkIZklUmT/+6m90WGZUNnjL25W1jcTRn2xMlSnhy0uxL
      ohYktzYZNtdWXzHDieVAol/KK/BMhAKf9DbLMbqz9uk9Zi2vIfz+YwxRLzD51P2g
      cmUVDRTEQHzU0WL3W/RLkIqEpAACnrieSufJvwyVS0KBWMPdVxDJx2b2WFmgOkbp
      9aEX05op4/P3j8uImytcXXQH6x/zvXfR5PAsKvEi5w7YSgzf2uiUBKtdSTO3+5Vb
      wG8McPC72WPIQCshfXXLKD4CkShK5JfIFZ2S8MN1Fd3JAdARVMAxufgxaq32amol
      DAHma7MnAgMBAAECggEASHInokRWlhoNi84yHC8WW+W72D3BBm0qHPRdhknSJGBb
      5GKAbsPRpi2zewMW+m5m1TxZwtYDhaaPpg2egQFtwG2oG4b8tv+dCsw8r96eXo+j
      sExukVWRLksXxkQyQY4qH4msNt9Ab4FXtgP47FHdDFEAN1+fbeWyiVPW9M6uKlie
      E1kJE0dsAiR6hK5BXU87xZUMf7JuYuGBKZDVyEbJKHYMqkR+Te6iNnkgGf+ANiWl
      1PC83wcHz7XJpQUZ8HzcuY1zUbx2p6JW//B11/Qqn9Ky2hr4WARmLt8FVye/7MEn
      aG3gfALBa2v3s3F1WrAFBy7X/h7qWZjIF3q4mXU8cQKBgQDyit1NepakrDoMUapq
      MXQZ/DfUXDjwEjr1taY6TZ7/FuMssFKOw5gCYvhgMUT8H2kmpnqUuUVAUjWdq/us
      bllCM3Si7bQO/Pakz1yBlHKCay2xQECJjhDHlwdTl91R/TPGZkPQ76fJ1etDm368
      HiS+y3zME6k6eE0YsH4dxOGe9QKBgQDCrNN+TSn24bkdHR3Fk8Y7ja/aURk0tvOF
      rrsrlk7ELH1WFT60GngM2+zHbln69ap1nxun2O6nD9jKT4DjEB5eVSoCmK1ECTIa
      UF5ha+GGhV18BonXDKULu20SNtvxoHsN80ei+FdC9AWYpvJke1asf49OFAVFLzNw
      SBzWYq4AKwKBgQCUnWwe1nfJ7VIgTEYMjcLjTT10XRHyYGlKN4Tkgr1i9sY6ksvz
      eHwDMluYrXfkuOZ4bVf9G00IrZb2xvQOYwtEWj0kvFwxNuV2dSzspWZI7Z1w17rz
      zl4PvkYZ/Zr6axi3f+Ab/U0linN+2J+eayX+1rbgYUe3cRFkiHiuiv3opQKBgGKZ
      OBELMgrprmExgwez3b4B+CQh2Rta4iI+KmxcF47CXcTAw95iXZVduiIUIRy7Wldy
      e4ZamB0jKJDnDYdzfX4XskxYWcFQywCK3hKHmlUQrRWJFj1GGT3E8uw7vtA1kL2z
      DwBauY+emksDm1cLJQ3/GWzZNQYibvIahAiNOEW7AoGBAOqp0LRCEcs0yZJB0WOV
      C4QmW/a5uujMJXjV1A36BajfJKPw4j+P0cjRbFuqUHBtzCfcuzmPfSyQIyD2fvBo
      BOzvh8fCkbVljjJ5mgKOoc4OoHq4gDa915SdVk0/y/O5CdLrhprBt5Su8EXIR2mA
      h00JbpdCQFIFxfOBmtyXe58J
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart